
.image_output{
	height: 100%;
	width: 100%;
	dock-align: top;
}

.image_output img {
	width: 100%;
	margin-top: 2.5mm;
	margin-bottom: 2.5mm;
	vertical-align: central;
}

.bottom_btn img{
	background-image: url(trashbox_blue.png);
	margin-left: 2.4mm;
	margin-top: 1.4mm;
	margin-bottom: 1.4mm;
	height: 100%;
	dock-align: right;
} 

.reshoot{
	width: 100%;
	height: 100%;
	text-align: center;
	dock-align:	right;
	margin-left: 6mm;
	color: #FF7C4A;
	font: 37% arial;
}

.delete{
	background-image: url(trashbox_blue.png);
	margin-right: 2.4mm;
	margin-top: 1.4mm;
	margin-bottom: 1.4mm;
	height: 100%;
	dock-align: right;
}
