
.swipe_layout {
	height: 13.8mm;
}

.red_swipe {
	height: 13.8mm;
	width: 13.8mm;
	background-color: #f74747;
}

.red_swipe vl {
	height: 100%;
	width: 100%;
}

.red_swipe vl img {
	background-image: url(Trashbox.png);
	height: 40.1%;
	margin-top: 21%;
	horizontal-align: central;
}

.red_swipe vl TextView {
	height: 15%;
	width: 100%;
	margin-top: 10%;
	text-align: center;
	color: #fff;
	font: 100% Arial;
}

.main_row_price_list {
	color: #8e8e93;
	width: 100%;
	height: 35%;
	white-space: nowrap;
	placeholder-color: #FF7C4A;
	font: 42% Arial;
}
