.empty_forward {	
	width: 20%;
	height: 100%;
	dock-align: right;
	margin-left: 0%;
	margin-right: 2%;	
}

.grid vl {
	width: 83.3%;
	height: 100%;
	padding-top: 13%;
	padding-left: 0mm;
}

.description_row {
	height: 40%;
	font: 42% Arial;
}

.main_row_bold {
	width: 100%;
	height: 40%;
	white-space: normal;
	placeholder-color: #FF7C4A;
	font: 42% Arial-BoldMT;
}