.grid vl {
	width: 83.3%;
	height: 100%;
	padding-top: 13%;
	padding-left: 0mm;
	/*background-color: #ccffaa;*/
}

.shadowLine {
	width: 100%;
	height: 2px;
	background-image: url(shadow_line.png);
}

.description_row {
	height: 40%;
	font: 42% Arial;
}

.grid vl hl{
	height: 40%;
	width: 100%;
}
.searchDate {
	height: 6.7mm;
	/*background-color: #d6d9dd;*/
	dock-align: top;
}

.DateTextStyle {
	width: 20% ;
	height: 100%;
	margin-left: 13%;
	margin-top: 27%;

}
.DateTextStyle TextView {
	width: 100%;
	height: 100%;
	color: #000000;
	font: 50% Arial;
	horizontal-align: center;
	text-align: center;
}
.TodayTextStyle {
	width: 20%;
	height: 100%;
	margin-top: 27%;
	margin-left: 3%;
	dock-align: left;
}
.TodayTextStyle TextView {
	width: 100%;
	height: 100%;
	color: #FF7C4A;
	font: 50% Arial;
	horizontal-align: center;
	text-align: center;
}
.ForwardButt{
	width: 5mm;
	height: 5mm;
	background-image: url(right.png);
	dock-align: right;
	margin-top: 11%;
	margin-right: 5%
}
.ForwardButtOff{
	width: 5mm;
	height: 5mm;
	background-image: url(right_off.png);
	dock-align: right;
	margin-top: 11%;
	margin-right: 5%
}
.BackButt{
	width: 5mm;
	height: 5mm;
	background-image: url(left.png);
	dock-align: right;
	margin-right: 8%;
	margin-top: 11%;
}

.grid vl hl description_row{
	height: 100%;
	font: 42% Arial;
	/*background-color: #ccaacc;*/
}

.bl_description_row{
	width: 15% auto;
	height: 100%;
	white-space: normal;
	padding-right: 7%;
	color: #FF7C4A;
	font: 42% Arial;
	/*background-color: #bbaa00;*/
}
